{% extends 'html/base.html' %}

{% load static %}
{% block head %}
<script src="{% static 'vendor/marked/marked.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="mx-auto mt-20">
  {% include 'anonymous_message/messages.html' %}
</div>

<script>
  const markdownSpans = document.getElementsByClassName('markdown-span');

  for (let span of markdownSpans) {
    span.innerHTML = marked.parse(span.textContent);
  }
</script>
<script src="{% static 'anonymous_message/js/markdown.js' %}"></script>
{% endblock %}