{% extends 'html/base.html' %}

{% load static %}

{% block title %}
{{ channel.name }}
{% endblock %}

{% block meta_title %}
{{ channel.name }}
{% endblock %}

{% block description %}
Gozando fatos em {{ channel.name }}
{% endblock %}

{% block head %}
<script src="{% static 'vendor/marked/marked.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="mx-auto mt-20">
  {% include 'anonymous_message/messages.html' %}
</div>
<script src="{% static 'anonymous_message/js/markdown.js' %}"></script>
{% endblock %}