{% extends 'html/base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'vendor/swiper/css/swiper-bundle.min.css' %}" />
<link rel="stylesheet" href="{% static 'home/css/text.css' %}" />
{% endblock %}

{% block body %}
<div class="container mx-auto mt-12 p-6">
  {% include 'home/users.html' %}
  {{ is_working? }}
</div>

<script src="{% static 'vendor/swiper/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'home/js/users-swipe.js' %}"></script>
{% endblock %}