{% extends 'html/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'home/css/main.css' %}">
{% endblock %}

{% block body %}
  <div class="main-container">
  </div>
  <div class="bottom-container">
    <h1>membros</h1>
    <div class="user-container" id="userContainer">
      {% for user in users %}
        {% if not user.bot %}
          <div class="user-card ">
              <div class="user-avatar">
                <img src="{{ user.avatar }}" alt="{{ user.username }}">
              </div>
              <h3 class="user-username">@{{ user.username }}</h3>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <script src="{% static 'home/js/scrollScript.js' %}"></script>
{% endblock %}