{% extends 'html/base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}
  <div class="main-container">
    <div class="bottom-container">
      <h2>Membros</h2>
      <div class="user-container scroll-wrapper">
        {% for user in users %}
        <div class="user-card ">
            <div class="user-avatar">
              <img src="{{ user.avatar }}" alt="{{ user.username }}">
            </div>
            <h3 class="user-username">@{{ user.username }}</h3>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}