{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ settings.SITE_NAME }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ settings.FAVICON }}">

    <!-- meta -->
    <meta name="og:type" content="website">
    <meta charset="utf-8">
    <meta name="theme-color" content="#0e1111">
    <meta name="og:title" content="{{ settings.SITE_NAME}}">
    <meta name="og:site_name" content="{{ settings.META_SITE_NAME}}">
    <meta
      property="og:description"
      content="{% block description %}{{ settings.DESCRIPTION }}{% endblock %}"
    />
    <!-- meta -->

    <script src="{% static 'vendor/htmx/htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/container.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'html/header/header.html' %}
    {% block body %}{% endblock %}
  </body>
</html>