{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ meta.guild_name }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ meta.favicon }}">

    <!-- meta -->
    <meta name="og:type" content="website">
    <meta charset="utf-8">
    <meta name="theme-color" content="#0e1111">
    <meta name="og:title" content="{% block meta_title %}{{ meta.guild_name }}{% endblock %}">
    <meta name="og:site_name" content="{% block meta_site_name %}{{ meta.site_name }}{% endblock %}">
    <meta
      property="og:description"
      content="{% block description %}{{ meta.description }}{% endblock %}"
    />

    <!-- meta -->
    {% tailwind_css %}
    <script src="{% static 'vendor/htmx/htmx.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'html/header/header.html' %}
    {% block body %}{% endblock %}
  </body>
</html>