.user-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
}

.user-card {
  width: 100%; /* Ocupa todo o espaço disponível na grade */
  max-width: 80px; /* Define a largura máxima para cada card */
  height: 100px; /* Reduz a altura dos cards */
  overflow: hidden;
  position: relative;
  border-radius: 8px; /* Adiciona um pouco de borda arredondada aos cards */
}

.user-avatar {
  width: 50px; /* Reduz o tamanho do avatar */
  height: 50px; /* Reduz o tamanho do avatar */
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-avatar img {
  width: 100%;
  height: auto;
}

.user-username {
  position: absolute;
  bottom: 5px; /* Ajusta o espaçamento inferior do nome de usuário */
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
