@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/static/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/static/fonts/quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/static/fonts/quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --foreground-color: #020301;
  --background-color: #f3f5f9;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: var(--foreground-color);
  color: var(--background-color);
  overflow-x: hidden;
  height: 100vh;
}

body::-webkit-scrollbar,
body {
  scrollbar-width: thin;
  scrollbar-color: var(--background-color) transparent; 
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--background-color);
  border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1, h2, h3 {
  font-family: 'Quicksand';
  color: var(--background-color);
}

p {
  font-family: 'Roboto';
  color: var(--background-color);
}