@import url('/static/css/globals.css');

.header {
  background-color: var(--foreground-color);
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
}

.header h1 {
  margin: 0; /* Removido o margin padrão do h1 */
  font-size: 24px; /* Exemplo de tamanho de fonte, ajuste conforme necessário */
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites */
  text-overflow: ellipsis; /* Exibe reticências (...) quando o texto é cortado */
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

/* Exemplo de media query para ajustar o tamanho da fonte em dispositivos menores */
@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 15px;
  }
}
