@import url('/static/css/globals.css');

.header {
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.850);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 35px 35px rgb(0, 0, 0);
  border-bottom: 1px solid #e5e7eb36;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 15px;
  }
}
