{% load regex %}

<h1 class="text-3xl font-bold text-center">Anúncios</h1>

<div class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {% for announcement in announcements %}
    {% if not announcement.content|is_single_url %}
      <div class="rounded-lg shadow-md p-4">
        <div class="flex items-center mb-4">
          <div class="mr-4">
            <img src="{{ announcement.author.avatar }}" alt="{{ announcement.author.username }}" class="rounded-full w-12 h-12">
          </div>
          <div>
            <p class="font-semibold">{{ announcement.author.username }}</p>
          </div>
        </div>
        <div>
          <p>{{ announcement.content }}</p>
          {% if announcement.attachments %}
            <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
              {% for attachment in announcement.attachments %}
                <div class="relative group">
                  {% if attachment.url|is_video_url %}
                    <video controls class="rounded-lg shadow-md w-full h-auto">
                      <source src="{{ attachment.url }}" type="video/mp4">
                    </video>
                  {% elif attachment.url|is_image_url %}
                    <img src="{{ attachment.url }}" alt="Attachment" class="rounded-lg shadow-md w-full h-auto">
                  {% else %}
                    <a href="{{ attachment.url }}" class="text-blue-500 hover:underline block rounded-lg shadow-md p-4 text-center bg-gray-100">
                      View
                    </a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
