{% load validators %}
{% load regex %}

<h1 class="text-3xl text-left">Anúncios</h1>

<div class="mb-12">
  {% for announcement in announcements %}
  <!-- user info -->
  <div class="rounded-lg p-4 overflow-hidden">
    {% if announcement.message_reference %}
    <!-- replie -->
    <div class="py-2 left-4 top-0">
      <div class="inline-block space-x-2 space-y-1 rounded px-2 py-0.5 mb-2">
        <div class="flex items-center space-x-2">
          {% if announcement.referenced_message.author.avatar %}
          <img src="{{ announcement.referenced_message.author.avatar }}"
            alt="{{ announcement.referenced_message.author.username }}" class="rounded-full w-5 h-5">
          <p class="text-xs font-semibold">{{ announcement.referenced_message.author.username }}</p>
          {% endif %}
          {% if not announcement.referenced_message.content|is_single_url %}
          <p class="text-xs truncate">{{ announcement.referenced_message.content|mention:announcement.referenced_message.mentions|validate_content_length }}</p>
          {% elif announcement.referenced_message.content %}
          <a href="{{ announcement.referenced_message.content }}"
          class="text-xs text-blue-500 hover:text-blue-700 underline truncate">...</a>
          {% else %}
          <p class="text-xs truncate">A mensagem original foi excluída</p>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- replie -->
    {% endif %}
    <div class="flex items-center">
      <div class="mr-4">
        <img src="{{ announcement.author.avatar }}" alt="{{ announcement.author.username }}"
          class="rounded-full w-12 h-12">
      </div>
      <div>
        <p class="font-semibold">{{ announcement.author.username }}</p>
      </div>
    </div>
    <!-- user info -->
    <div class="translate-x-16 break-words w-4/5 ">
      {% if announcement.mentions %}
      <p>{{ announcement.content|mention:announcement.mentions }}</p>
      {% elif announcement.content|is_single_url %}
      <a href="{{ announcement.content }}" class="text-blue-500 hover:text-blue-700 underline">...</a>
      {% else %}
      <p>{{ announcement.content }}</p>
      {% endif %}

      {% if announcement.attachments %}
      <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {% for attachment in announcement.attachments %}
        <div class="relative group mt-1">
          {% if attachment.url|is_video_url %}
          <video controls class="rounded-sm w-2/2 h-auto">
            <source src="{{ attachment.url }}" type="video/mp4">
          </video>
          {% elif attachment.url|is_image_url %}
          <img src="{{ attachment.url }}" alt="Attachment" class="rounded-sm w-2/2 h-auto">
          {% else %}
          <a href="{{ attachment.url }}"
            class="text-blue-500 hover:underline block rounded-lg shadow-md p-4 text-center bg-gray-100">
            View
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
