{% load static %}
<h1 class="text-3xl font-bold text-left translate-x-2">Membros</h1>
<div class="swiper-container mt-4 mb-4 flex justify-center">
  <div class="swiper-wrapper">
    {% for user in users %}
      {% if not user.bot %}
        <div class="swiper-slide rounded-lg flex flex-col items-center justify-center hover:scale-125 transition duration-300 text-center">
          <div class="overflow-hidden flex items-center justify-center">
            {% if user.avatar %}
              <img class="object-cover rounded-md h-20 w-20 select-none" src="{{ user.avatar }}" alt="{{ user.username }}">
            {% else %}
              <img class="object-cover rounded-md h-20 w-20 select-none" src="{% static 'svg/user.svg' %}" alt="{{ user.username }}">
            {% endif %}
          </div>
          <span class="text-[10px] font-bold truncate w-full">@{{ user.username }}</span>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
